In [20]:
import pandas as pd
trainList=['mem','motor','mix']
predictList=['mem','motor','mix']
count=0
accTable=[]
for i in trainList:
    accscore=[]
    for j in predictList:
        acc=count
        count=count+1
        accscore.append(acc)
    tmpdf=pd.DataFrame({'Test':predictList, i:accscore}).set_index('Test')
    accTable.append(tmpdf)
accTable=pd.concat(accTable, axis=1)

In [21]:
acc_T=[]
df=pd.DataFrame({'Test_Variables': predictList, 'motor':[1,1,1]}).set_index('Test')
acc_T.append(df)

In [22]:
acc_T=pd.concat(acc_T, axis=1)

In [23]:
acc_T

       motor
Test
mem        1
motor      1
mix        1

In [24]:
accTable

       mem  motor  mix
Test
mem      0      3    6
motor    1      4    7
mix      2      5    8