In [1]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import KFold
from sklearn.linear_model import RidgeClassifier
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
import numpy as np
import os
import sys
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
import itertools
from sklearn.preprocessing import StandardScaler #data scaling
from sklearn import decomposition #PCA
#import other python scripts for further anlaysis
import reshape
#import results
import warnings
warnings.filterwarnings("ignore")


import permuteROI
train_sub, clf, memFC,semFC,glassFC,motFC, restFC=permuteROI.modelAll_byRow('MSC05')

In [2]:
thisDir = os.path.expanduser('~/Desktop/MSC_Alexis/analysis/')
refROI=pd.read_csv(thisDir+'output/results/permutation/ALL/ref_acc.csv') #for taking differece
refROI.drop(columns=['diff_sub'],inplace=True)
ref=refROI[refROI['train']==train_sub].same_sub.values
ref_sub=ref[0] #use this to calculate difference
results=np.empty((333))#store results to use for plotting take diff from ref_sub per row and store here
kf = KFold(n_splits=5,shuffle=True)

In [3]:
ref_sub

0.9875

In [7]:
def permuteIndices_byRow(Xtrain_task,Xtrain_rest,rowID):
    """
    Permute rows of networks and switch tast and rest
    Parameters
    -----------
    taskFC: numpy array
        nsess x ROI
    restFC: numpy array
        nsess x ROI
    network: str
        particular network of interest
    Returns
    ------------
    taskFC, restFC : Array of task and rest FC permuting specific rows
    """
    XtrainNew_task=Xtrain_task.copy()
    XtrainNew_rest=Xtrain_rest.copy()
    indices=reshape.getIndices()
    index=indices.index
    condition=indices['level_1']==rowID
    ROI=index[condition]
    ROI_list=ROI.tolist()
    tmpTask=XtrainNew_task[:,ROI_list]
    tmpRest=XtrainNew_rest[:,ROI_list]
    #permute values
    tmpTask_permute=np.random.permutation(tmpTask)
    tmpRest_permute=np.random.permutation(tmpRest)
    #Now switch
    XtrainNew_task[:,ROI_list]=tmpRest_permute #now we purposefully swap the permuted labels to the other task/rest FC
    XtrainNew_rest[:,ROI_list]=tmpTask_permute
    return XtrainNew_task, XtrainNew_rest

In [8]:
#for rowID, null in enumerate(results):
CVacc=[]
df=pd.DataFrame()
#fold each training set
for train_index, test_index in kf.split(memFC):
    memtrain, memval=memFC[train_index], memFC[test_index]
    semtrain, semval=semFC[train_index], semFC[test_index]
    mottrain, motval=motFC[train_index], motFC[test_index]
    glatrain, glaval=glassFC[train_index], glassFC[test_index]
    Xtrain_task=np.concatenate((memtrain,semtrain,mottrain,glatrain))
    Xtrain_rest, Xval_rest=restFC[train_index,:,:], restFC[test_index,:,:]
    Xval_task=np.concatenate((memval,semval,motval,glaval))
    Xtrain_rest=np.reshape(Xtrain_rest,(-1,55278))
    Xval_rest=np.reshape(Xval_rest,(-1,55278))
    ytrain_task = np.ones(Xtrain_task.shape[0], dtype = int)
    ytrain_rest=np.zeros(Xtrain_rest.shape[0], dtype=int)
    yval_task = np.ones(Xval_task.shape[0], dtype = int)
    yval_rest=np.zeros(Xval_rest.shape[0], dtype=int)
    XtrainNew_task, XtrainNew_rest=permuteIndices_byRow(Xtrain_task,Xtrain_rest,0)#permute specific indices
    X_tr=np.concatenate((XtrainNew_task, XtrainNew_rest))
    X_val=np.concatenate((Xval_task, Xval_rest))
    y_tr = np.concatenate((ytrain_task,ytrain_rest))
    y_val=np.concatenate((yval_task, yval_rest))
    clf.fit(X_tr,y_tr)
    #cross validation
    CV_score=clf.predict(X_val) 
    CVacc.append(CV_score)
df['cv']=CVacc
#Different sub outer acc
same_sub_score=df['cv'].mean()
#print(same_sub_score)
diff=same_sub_score-ref_sub
    #results[rowID]=diff

In [6]:
diff

array([ 0.0125,  0.0125,  0.0125,  0.0125,  0.0125,  0.0125,  0.0125,
        0.0125, -0.9875, -0.9875, -0.9875, -0.9875, -0.7875, -0.9875,
       -0.9875, -0.9875])

In [139]:
taskFC=Xtrain_task.copy()
restFC=Xtrain_rest.copy()
indices=reshape.getIndices()
index=indices.index
condition=indices['level_1']==331
ROI=index[condition]
ROI_list=ROI.tolist()
tmpTask=taskFC[:,ROI_list]
tmpRest=restFC[:,ROI_list]
#permute values
tmpTask_permute=np.random.permutation(tmpTask)
tmpRest_permute=np.random.permutation(tmpRest)
#Now switch
taskFC[:,ROI_list]=tmpRest_permute #now we purposefully swap the permuted labels to the other task/rest FC
restFC[:,ROI_list]=tmpTask_permute

In [86]:
import matlab.engine
import scipy.io
import pandas as pd
import numpy as np
import sys
import os
import matplotlib.pyplot as plt
df='/Users/Alexis/Desktop/MSC_Alexis/analysis/data/mvpa_data/mem/MSC05_parcel_corrmat.mat' #temp file for getting indices
fileFC=scipy.io.loadmat(df)
fileFC=np.array(fileFC['parcel_corrmat'])
fileFC=np.nan_to_num(fileFC)
ds=fileFC[:,:,0]
Parcel_params = reshape.loadParcelParams('Gordon333',thisDir+'data/Parcel_info/')
roi_sort = np.squeeze(Parcel_params['roi_sort'])
corrmat=ds[roi_sort,:][:,roi_sort]
nrois=list(range(333))
nets=[]
position=0
count=0
networks=Parcel_params['networks']
t=Parcel_params['transitions']
#have to add extra value otherwise error
transitions=np.append(t,333)
while count<333:
    if count<=transitions[position]:
        nets.append(networks[position])
        count=count+1
    else:
        position=position+1
#transform data to locate network
df=pd.DataFrame(corrmat, index=[nets, nrois], columns=[nets, nrois])
df_ut = df.where(np.triu(np.ones(df.shape),1).astype(np.bool))

In [124]:
results

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [100]:
MSC05=reshape.permROI('/Users/Alexis/Desktop/MSC_Alexis/analysis/data/mvpa_data/mem/MSC05_parcel_corrmat.mat')

In [101]:
MSC05.shape

(10, 55278)

In [120]:
indices=reshape.getIndices()
index=indices.index
taskFC=MSC05.copy()
condition=indices['level_1']==331
ROI=index[condition]
ROI_list=ROI.tolist()
tmpTask=taskFC[:,ROI_list]
#permute values
tmpTask_permute=np.random.permutation(tmpTask)
#Now switch
taskFC[:,ROI_list]=tmpTask_permute #now we purposefully swap the permuted labels to the other task/rest FC

In [106]:
MSC05[0,0]

0.2070389939728905

In [107]:
taskFC[0,0]

0.4787413083151937

In [121]:
t=MSC05-taskFC

In [122]:
t[:,55277]

array([ 0.07870691,  0.30915936,  0.06240042, -0.0430309 , -0.01129618,
        0.        ,  0.29084581, -0.25528493, -0.16954375, -0.26195674])

In [9]:
tmpTask[0][0]

0.022630871015933782

In [10]:
taskFC[0][0]

0.022630871015933782

In [11]:
import numpy as np
mask = (ttaskFC == 0).all(1)
column_indices = np.where(mask)[0]
df = ttaskFC[~mask,:]

In [12]:
df.shape

(8, 55278)

In [11]:
indices.tail()

      level_0  level_1 variable_0  variable_1     value
55273     pon      327        pon         332  0.524179
55274     pon      328        pon         332  0.443304
55275     pon      329        pon         332  0.119601
55276     pon      330        pon         332  0.574670
55277     pon      331        pon         332  0.004735

In [10]:
ttaskFC.shape

(10, 55278)

In [3]:
import numpy as np
split=np.empty((333))

In [4]:
value=111
for idx, nullVal in enumerate(split):
    split[idx]=value

In [6]:
split

array([111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111.])

In [1]:
import permuteROI
res=permuteROI.modelAll_byRow('MSC05')

res.tofile('/Users/Alexis/Desktop/MSC_Alexis/analysis/output/results/permutation/ALL/MSC05_Row.csv', sep = ',')

        level_0  level_1 variable_0  variable_1     value
0      unassign        0   unassign           1  0.022631
1      unassign        0   unassign           2  0.117758
2      unassign        1   unassign           2  0.298062
3      unassign        0   unassign           3  0.442273
4      unassign        1   unassign           3  0.118008
...         ...      ...        ...         ...       ...
55273       pon      327        pon         332  0.524179
55274       pon      328        pon         332  0.443304
55275       pon      329        pon         332  0.119601
55276       pon      330        pon         332  0.574670
55277       pon      331        pon         332  0.004735

[55278 rows x 5 columns]

In [40]:
import pandas as pd
tmp=pd.DataFrame(res,columns=['result'])
tmp.reset_index(inplace=True)
tmp.rename(columns={'index':'level_1'},inplace=True)
final=indices.merge(tmp,on='level_1')
final.drop(columns='value',inplace=True)
tmp2=final.pivot(values='result',index=['level_0','level_1'],columns=['variable_0','variable_1'])
tmp2.sort_values(by='level_1',inplace=True)

In [44]:
tmp2

variable_0       unassign                                               \
variable_1            1      2      3      4       5       6       7
level_0  level_1
unassign 0            0.0  0.000  0.000  0.000  0.0000  0.0000  0.0000
         1            NaN  0.025  0.025  0.025  0.0250  0.0250  0.0250
         2            NaN    NaN  0.025  0.025  0.0250  0.0250  0.0250
         3            NaN    NaN    NaN  0.000  0.0000  0.0000  0.0000
         4            NaN    NaN    NaN    NaN -0.0125 -0.0125 -0.0125
...                   ...    ...    ...    ...     ...     ...     ...
pon      327          NaN    NaN    NaN    NaN     NaN     NaN     NaN
         328          NaN    NaN    NaN    NaN     NaN     NaN     NaN
         329          NaN    NaN    NaN    NaN     NaN     NaN     NaN
         330          NaN    NaN    NaN    NaN     NaN     NaN     NaN
         331          NaN    NaN    NaN    NaN     NaN     NaN     NaN

variable_0                                ...     pmn                     pon  \
variable_1           8       9       10   ...     323     324     325     326
level_0  level_1                          ...
unassign 0        0.0000  0.0000  0.0000  ...  0.0000  0.0000  0.0000  0.0000
         1        0.0250  0.0250  0.0250  ...  0.0250  0.0250  0.0250  0.0250
         2        0.0250  0.0250  0.0250  ...  0.0250  0.0250  0.0250  0.0250
         3        0.0000  0.0000  0.0000  ...  0.0000  0.0000  0.0000  0.0000
         4       -0.0125 -0.0125 -0.0125  ... -0.0125 -0.0125 -0.0125 -0.0125
...                  ...     ...     ...  ...     ...     ...     ...     ...
pon      327         NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
         328         NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
         329         NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
         330         NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
         331         NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN

variable_0
variable_1           327     328     329     330     331     332
level_0  level_1
unassign 0        0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
         1        0.0250  0.0250  0.0250  0.0250  0.0250  0.0250
         2        0.0250  0.0250  0.0250  0.0250  0.0250  0.0250
         3        0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
         4       -0.0125 -0.0125 -0.0125 -0.0125 -0.0125 -0.0125
...                  ...     ...     ...     ...     ...     ...
pon      327         NaN  0.0000  0.0000  0.0000  0.0000  0.0000
         328         NaN     NaN  0.0000  0.0000  0.0000  0.0000
         329         NaN     NaN     NaN -0.0125 -0.0125 -0.0125
         330         NaN     NaN     NaN     NaN -0.0125 -0.0125
         331         NaN     NaN     NaN     NaN     NaN  0.0000

[332 rows x 332 columns]

In [2]:
import permuteROI
import numpy as np
res=permuteROI.modelAll_byRow('MSC07')

res.tofile('/Users/Alexis/Desktop/MSC_Alexis/analysis/output/results/permutation/ALL/MSC07_Row.csv', sep = ',')