In [ ]:
#Aim 1 and Aim 2 results
#authentication
import masterClass
#masterClass.classifyCV()
#masterClass.classifyDS()
#masterClass.classifySS()
masterClass.classifyBS()
#Classify All tasks with rest split 
masterClass.classifyAll()

In [2]:
#Random Feature selection
#numbers=[10,20,30,40,50,60,70,80,90,100,200,300,400,500,1000,1500,2000,2500,3000,4000,5000,10000,15000,20000,30000,40000,50000,14808,10824,8736, 4620,5264,3151, 484, 4060, 2375,316, 564,45,21]
import numpy as np
import pandas as pd
import randSelection
import random
outDir = '~/Desktop/MSC_Alexis/analysis/output/results/rdmNetwork/'
DS_df=pd.DataFrame()
SS_df=pd.DataFrame()
BS_df=pd.DataFrame()
CV_df=pd.DataFrame()
for i in range(100):
    number=random.randint(10,50000)
    idx=np.random.randint(55278, size=(number))
    DS=randSelection.classifyDS(idx, number)
    DS_df=pd.concat([DS_df,DS])
    SS=randSelection.classifySS(idx, number)
    SS_df=pd.concat([SS_df,SS])
    BS=randSelection.classifyBS(idx, number)
    BS_df=pd.concat([BS_df,BS])
    CV=randSelection.classifyCV(idx, number)
    CV_df=pd.concat([CV_df,CV])
    print('Finished with '+str(i))
DS_df.to_csv(outDir+'DS/Min_acc.csv', index=False)
SS_df.to_csv(outDir+'SS/Min_acc.csv', index=False)
BS_df.to_csv(outDir+'BS/Min_acc.csv', index=False)
CV_df.to_csv(outDir+'CV/Min_acc.csv', index=False)

Finished with 0
Finished with 1
Finished with 2
Finished with 3
Finished with 4
Finished with 5
Finished with 6
Finished with 7
Finished with 8
Finished with 9
Finished with 10
Finished with 11
Finished with 12
Finished with 13
Finished with 14
Finished with 15
Finished with 16
Finished with 17
Finished with 18
Finished with 19
Finished with 20
Finished with 21
Finished with 22
Finished with 23
Finished with 24
Finished with 25
Finished with 26
Finished with 27
Finished with 28
Finished with 29
Finished with 30
Finished with 31
Finished with 32
Finished with 33
Finished with 34
Finished with 35
Finished with 36
Finished with 37
Finished with 38
Finished with 39
Finished with 40
Finished with 41
Finished with 42
Finished with 43
Finished with 44
Finished with 45
Finished with 46
Finished with 47
Finished with 48
Finished with 49
Finished with 50
Finished with 51
Finished with 52
Finished with 53
Finished with 54
Finished with 55
Finished with 56
Finished with 57
Finished with 58
Finished with 59
Finished with 60
Finished with 61
Finished with 62
Finished with 63
Finished with 64
Finished with 65
Finished with 66
Finished with 67
Finished with 68
Finished with 69
Finished with 70
Finished with 71
Finished with 72
Finished with 73
Finished with 74
Finished with 75
Finished with 76
Finished with 77
Finished with 78
Finished with 79
Finished with 80
Finished with 81
Finished with 82
Finished with 83
Finished with 84
Finished with 85
Finished with 86
Finished with 87
Finished with 88
Finished with 89
Finished with 90
Finished with 91
Finished with 92
Finished with 93
Finished with 94
Finished with 95
Finished with 96
Finished with 97
Finished with 98
Finished with 99

In [ ]:
#Feature Selection of networks
import featSelection
networkList=['unassign',
    'default',
    'visual',
    'fp',
    'dan',
    'van',
    'salience',
    'co',
    'sm',
    'sm-lat',
    'auditory',
    'pmn',
    'pon']

for network in networkList:
    print('Now running for network '+network)
    featSelection.classifyCV(network)
    print("Finished CV")
    featSelection.classifyDS(network)
    print("Finished DS")
    featSelection.classifySS(network)
    print("Finished SS")
    featSelection.classifyBS(network)
    print("Finished BS")

In [ ]:
#Permutation
#SSmOS_CVmDS
import SSmOS
import pandas as pd
CVmDS_df=pd.DataFrame()
for i in range(1000):
    DS=SSmOS.CVmDS()
    CVmDS_df=pd.concat([CVmDS_df,DS])
CVmDS_df.to_csv('~/Desktop/MSC_Alexis/analysis/output/results/permutation/CVmDS_acc.csv',index=False)

In [ ]:
#Permutation
#SSmOS_SSmBS
import SSmOS
import pandas as pd
SSmBS_df=pd.DataFrame()
for i in range(1000):
    SS=SSmOS.SSmBS()
    SSmBS_df=pd.concat([SSmBS_df, SS])
SSmBS_df.to_csv('~/Desktop/MSC_Alexis/analysis/output/results/permutation/SSmBS_acc.csv',index=False)

In [ ]:
#Permutation different task compared to same task
#STmDT_CVmSS
import DTmST
#DTmST.DSmBS()
DTmST.CVmSS()

In [ ]:
#Permutation different sub compared to same sub using all data for training
import SSmOS
#All tasks
SSmOS.classifyScores()

In [ ]:
#Manipulating Frames
import manFrames
manFrames.storeResults()

In [ ]:
#Manipulating Days 
import manDays
manDays.runDays()

In [1]:
#Group avg classification Train 7 subs test 1 sub same task v new task
import groupAvg

#groupAvg.groupApp()

df=groupAvg.allTask()

In [2]:
df

   acc_per_sess
0      0.500000
1      0.500000
2      0.500000
3      0.500000
4      0.500000
5      0.500000
6      0.500000
7      0.482143
8      0.500000
9      0.500000

In [12]:
import numpy as np

from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import KFold
sub_splits=np.empty((7,55278))
loo = LeaveOneOut()

for i in range(10):
    tmp_mem=ds_mem[i,:,:]
    tmp_mem=tmp_mem.T
    
    tmp_mot=ds_motor[i,:,:]
    tmp_mot=tmp_mot.T
    
    tmp_sem=ds_sem[i,:,:]
    tmp_sem=tmp_sem.T
    
    tmp_glass=ds_glass[i,:,:]
    tmp_glass=tmp_glass.T
    if i==0:
        rest_test=ds_R[:4,:,:]
    else:
        startingpoint=i*4
        endingpoint=startingpoint+4
        rest_test=ds_R[startingpoint:endingpoint,:,:]
    r=rest_test.reshape(28,55278)
ds_T=np.concatenate((tmp_mem,tmp_mot,tmp_sem,tmp_glass))

In [20]:
#r=rest_test.reshape(28,55278)
#tmp_glass.shape
rest_test.shape

#tmp_mem=ds_mem[i,:,:]
#tmp_mem.T.shape

(4, 55278, 7)

In [6]:
import reshape
import os
import sys
taskList=['glass','semantic', 'motor','mem','rest']

thisDir = os.path.expanduser('~/Desktop/MSC_Alexis/analysis/')
dataDir = thisDir + 'data/mvpa_data/'
#Only using subs with full 10 sessions
subList=['MSC01','MSC02','MSC03','MSC04','MSC05','MSC06','MSC07','MSC10']
for sub in subList:
    for task in taskList:
        tmp=reshape.matFiles(dataDir+task+'/'+sub+'_parcel_corrmat.mat')
        print(tmp.shape, ' number of sessions for ', sub, ' in task ', task)

(10, 55278)  number of sessions for  MSC01  in task  glass
(10, 55278)  number of sessions for  MSC01  in task  semantic
(10, 55278)  number of sessions for  MSC01  in task  motor
(10, 55278)  number of sessions for  MSC01  in task  mem
(10, 55278)  number of sessions for  MSC01  in task  rest
(10, 55278)  number of sessions for  MSC02  in task  glass
(10, 55278)  number of sessions for  MSC02  in task  semantic
(10, 55278)  number of sessions for  MSC02  in task  motor
(10, 55278)  number of sessions for  MSC02  in task  mem
(10, 55278)  number of sessions for  MSC02  in task  rest
(10, 55278)  number of sessions for  MSC03  in task  glass
(10, 55278)  number of sessions for  MSC03  in task  semantic
(10, 55278)  number of sessions for  MSC03  in task  motor
(10, 55278)  number of sessions for  MSC03  in task  mem
(10, 55278)  number of sessions for  MSC03  in task  rest
(10, 55278)  number of sessions for  MSC04  in task  glass
(10, 55278)  number of sessions for  MSC04  in task  semantic
(10, 55278)  number of sessions for  MSC04  in task  motor
(10, 55278)  number of sessions for  MSC04  in task  mem
(10, 55278)  number of sessions for  MSC04  in task  rest
(10, 55278)  number of sessions for  MSC05  in task  glass
(10, 55278)  number of sessions for  MSC05  in task  semantic
(10, 55278)  number of sessions for  MSC05  in task  motor
(10, 55278)  number of sessions for  MSC05  in task  mem
(10, 55278)  number of sessions for  MSC05  in task  rest
(9, 55278)  number of sessions for  MSC06  in task  glass
(10, 55278)  number of sessions for  MSC06  in task  semantic
(10, 55278)  number of sessions for  MSC06  in task  motor
(10, 55278)  number of sessions for  MSC06  in task  mem
(10, 55278)  number of sessions for  MSC06  in task  rest
(10, 55278)  number of sessions for  MSC07  in task  glass
(10, 55278)  number of sessions for  MSC07  in task  semantic
(10, 55278)  number of sessions for  MSC07  in task  motor
(10, 55278)  number of sessions for  MSC07  in task  mem
(10, 55278)  number of sessions for  MSC07  in task  rest
(10, 55278)  number of sessions for  MSC10  in task  glass
(10, 55278)  number of sessions for  MSC10  in task  semantic
(10, 55278)  number of sessions for  MSC10  in task  motor
(10, 55278)  number of sessions for  MSC10  in task  mem
(10, 55278)  number of sessions for  MSC10  in task  rest

In [1]:
#Some Block analysis
#CO-CO, CO-FP, CO-DMN
network=['co','fp','default']
import block_featSelection
for i in network:
    block_featSelection.classifyCV(i,'co')
    block_featSelection.classifyDS(i,'co')
    block_featSelection.classifySS(i,'co')
    block_featSelection.classifyBS(i,'co')