In [5]:
#PCA test
import masterClass
import numpy as np
taskFC, restFC,test_taskFC,test_restFC=masterClass.modelAll('MSC01','MSC02')


taskSize=taskFC.shape[0]
restSize=restFC.shape[0]
t = np.ones(taskSize, dtype = int)
r=np.zeros(restSize, dtype=int)


test_taskSize=test_taskFC.shape[0]
test_restSize=test_restFC.shape[0]
test_t = np.ones(test_taskSize, dtype = int)
test_r=np.zeros(test_restSize, dtype=int)


X=np.concatenate((taskFC,restFC))
y=np.concatenate((t,r))

X_test=np.concatenate((test_taskFC,test_restFC))
y_test=np.concatenate((test_t,test_r))

from sklearn.preprocessing import StandardScaler #data scaling
from sklearn import decomposition #PCA
import pandas as pd
scaler=StandardScaler()
scaler.fit(X) #try out without scaling?
X=scaler.transform(X)
#based on marek paper used #components 50% variance explained
#according to marek paper and standard ml paper you always fit to training
#and transform on testing set for pca
pca=decomposition.PCA(n_components=.5) #define number of components to use
pca.fit(X)
#transform to both training and test set
X=pca.transform(X)
X_test=pca.transform(X_test)
from sklearn.linear_model import RidgeClassifier
clf=RidgeClassifier()
clf.fit(X,y)
clf.predict(X_test)
clf.score(X_test,y_test)

0.5375

In [80]:
scores=pca.transform(X) #compute and retrive score values

In [81]:
scores_df=pd.DataFrame(scores)

In [62]:
df_scores=pd.concat([scores_df,state],axis=1)

In [63]:
loadings=pca.components_.T
df_loadings=pd.DataFrame(loadings, columns=['PC1','PC2','PC3','PC4','PC5','PC6','PC7','PC8','PC9','PC10']) #information on all features ie ever region 
#to region connection

In [64]:
explained_variance=pca.explained_variance_ratio_
explained_variance

array([0.09485579, 0.05923002, 0.04649431, 0.03649158, 0.03296699,
       0.02688707, 0.02314569, 0.02157544, 0.02021407, 0.01979714])

In [82]:

pca.explained_variance_ratio_

array([0.081423  , 0.0565789 , 0.04509606, 0.0356427 , 0.0326186 ,
       0.02622691, 0.02274979, 0.02146987, 0.02060004, 0.01981769,
       0.01883996, 0.01777364, 0.01714704, 0.01662473, 0.01617737,
       0.0158706 , 0.01558326, 0.01484515, 0.01416835, 0.01395501,
       0.01361471, 0.01329246, 0.01282548, 0.01242045, 0.01218102,
       0.01209849, 0.01177094, 0.01160129, 0.0112347 , 0.01109134,
       0.01086471, 0.01066973, 0.01053579, 0.01032467, 0.01019142,
       0.01007818, 0.00980009, 0.0096916 , 0.00955288, 0.00916416,
       0.00899607, 0.00892084, 0.00878786, 0.00859045, 0.00853269,
       0.00820755, 0.0081645 , 0.00814611, 0.00801314, 0.00782888,
       0.00776785, 0.00762052, 0.00729145, 0.00727469, 0.007147  ,
       0.0070975 , 0.00695979, 0.0066695 , 0.00656863, 0.00648695,
       0.00643102, 0.0062665 , 0.00591206, 0.00583263, 0.00565486,
       0.00560915, 0.00549405, 0.00538139, 0.00528408])

In [75]:
pca.n_components_

69

In [2]:
import reshape
df='/Users/Alexis/Desktop/MSC_Alexis/analysis/data/mvpa_data/mem/MSC01_parcel_corrmat.mat'
tmp_restFC=reshape.matFiles('/Users/Alexis/Desktop/MSC_Alexis/analysis/data/mvpa_data/rest/corrmats_timesplit/half/MSC01_parcel_corrmat.mat')

In [5]:
import pandas as pd
import numpy as np

restFC=tmp_restFC[:10]
test_restFC=tmp_restFC[10:]

In [6]:
test_restFC.shape

(10, 55278)

In [83]:
network='co'
#df_ut.loc[np.isnan(df_ut[network])]
mask=~np.isnan(df_ut.loc['co','co']) #returns true for all locations that do not have nans
co=df_ut.loc['co','co']

In [58]:
#df_ut.loc['co','co']=np.random.permutation(co[mask])

In [110]:
#np.random.permutation(np.where(co[mask]))
df_ut.loc['co','co']=np.random.permutation(~np.isnan(df_ut.loc['co','co']))#.where(~np.isnan(df_ut.loc['co','co'])))
#df_ut.loc['co','co']=np.random.permutation(df_ut.loc['co','co'].where(~np.isnan(df_ut.loc['co','co'])))

In [118]:
np.random.permutation(df_ut.where(~np.isnan(df_ut.loc['co','co'])))

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [31]:
tmp=co.values
clean_array=tmp[~np.isnan(tmp)]

In [34]:
random=np.random.permutation(clean_array)

In [41]:
df_ut

             unassign                                                    \
                    0         1         2         3         4         5
unassign 0        NaN  0.022631  0.117758  0.442273  0.007820 -0.062638
         1        NaN       NaN  0.298062  0.118008  0.022785 -0.094176
         2        NaN       NaN       NaN -0.017099  0.049704  0.203355
         3        NaN       NaN       NaN       NaN -0.224040  0.134720
         4        NaN       NaN       NaN       NaN       NaN -0.026616
...               ...       ...       ...       ...       ...       ...
pon      328      NaN       NaN       NaN       NaN       NaN       NaN
         329      NaN       NaN       NaN       NaN       NaN       NaN
         330      NaN       NaN       NaN       NaN       NaN       NaN
         331      NaN       NaN       NaN       NaN       NaN       NaN
         332      NaN       NaN       NaN       NaN       NaN       NaN

                                                      ...       pmn            \
                     6         7         8         9  ...       324       325
unassign 0   -0.042690  0.021009 -0.205563 -0.243538  ... -0.152337  0.058385
         1    0.077885 -0.010717  0.023325 -0.075293  ... -0.100299 -0.043068
         2   -0.065179 -0.022626 -0.112926  0.047508  ... -0.106220 -0.133036
         3    0.332596  0.273461 -0.438549 -0.256813  ... -0.058781  0.087056
         4   -0.111408  0.073395  0.245578  0.165323  ... -0.250491 -0.403590
...                ...       ...       ...       ...  ...       ...       ...
pon      328       NaN       NaN       NaN       NaN  ...       NaN       NaN
         329       NaN       NaN       NaN       NaN  ...       NaN       NaN
         330       NaN       NaN       NaN       NaN  ...       NaN       NaN
         331       NaN       NaN       NaN       NaN  ...       NaN       NaN
         332       NaN       NaN       NaN       NaN  ...       NaN       NaN

                   pon                                                    \
                   326       327       328       329       330       331
unassign 0    0.024373  0.169047 -0.003844  0.048087  0.327436  0.112141
         1   -0.074514  0.230730  0.039566 -0.053097  0.047457 -0.037611
         2    0.048870  0.149216  0.092850  0.085959  0.160121  0.084145
         3    0.200759  0.224648  0.321126  0.050268  0.068487  0.182661
         4   -0.310931 -0.000981 -0.113099 -0.344842  0.053157 -0.038818
...                ...       ...       ...       ...       ...       ...
pon      328       NaN       NaN       NaN  0.378621  0.438584  0.328718
         329       NaN       NaN       NaN       NaN  0.111161 -0.002984
         330       NaN       NaN       NaN       NaN       NaN  0.399996
         331       NaN       NaN       NaN       NaN       NaN       NaN
         332       NaN       NaN       NaN       NaN       NaN       NaN

                          co
                   332    co
unassign 0    0.105040  temp
         1    0.171778  temp
         2    0.061513  temp
         3    0.185715  temp
         4    0.013219  temp
...                ...   ...
pon      328  0.443304  temp
         329  0.119601  temp
         330  0.574670  temp
         331  0.004735  temp
         332       NaN  temp

[333 rows x 334 columns]

In [39]:
test

             unassign                                                    \
                    0         1         2         3         4         5
unassign 0        NaN  0.022631  0.117758  0.442273  0.007820 -0.062638
         1        NaN       NaN  0.298062  0.118008  0.022785 -0.094176
         2        NaN       NaN       NaN -0.017099  0.049704  0.203355
         3        NaN       NaN       NaN       NaN -0.224040  0.134720
         4        NaN       NaN       NaN       NaN       NaN -0.026616
...               ...       ...       ...       ...       ...       ...
pon      328      NaN       NaN       NaN       NaN       NaN       NaN
         329      NaN       NaN       NaN       NaN       NaN       NaN
         330      NaN       NaN       NaN       NaN       NaN       NaN
         331      NaN       NaN       NaN       NaN       NaN       NaN
         332      NaN       NaN       NaN       NaN       NaN       NaN

                                                      ...       pmn            \
                     6         7         8         9  ...       324       325
unassign 0   -0.042690  0.021009 -0.205563 -0.243538  ... -0.152337  0.058385
         1    0.077885 -0.010717  0.023325 -0.075293  ... -0.100299 -0.043068
         2   -0.065179 -0.022626 -0.112926  0.047508  ... -0.106220 -0.133036
         3    0.332596  0.273461 -0.438549 -0.256813  ... -0.058781  0.087056
         4   -0.111408  0.073395  0.245578  0.165323  ... -0.250491 -0.403590
...                ...       ...       ...       ...  ...       ...       ...
pon      328       NaN       NaN       NaN       NaN  ...       NaN       NaN
         329       NaN       NaN       NaN       NaN  ...       NaN       NaN
         330       NaN       NaN       NaN       NaN  ...       NaN       NaN
         331       NaN       NaN       NaN       NaN  ...       NaN       NaN
         332       NaN       NaN       NaN       NaN  ...       NaN       NaN

                   pon                                                    \
                   326       327       328       329       330       331
unassign 0    0.024373  0.169047 -0.003844  0.048087  0.327436  0.112141
         1   -0.074514  0.230730  0.039566 -0.053097  0.047457 -0.037611
         2    0.048870  0.149216  0.092850  0.085959  0.160121  0.084145
         3    0.200759  0.224648  0.321126  0.050268  0.068487  0.182661
         4   -0.310931 -0.000981 -0.113099 -0.344842  0.053157 -0.038818
...                ...       ...       ...       ...       ...       ...
pon      328       NaN       NaN       NaN  0.378621  0.438584  0.328718
         329       NaN       NaN       NaN       NaN  0.111161 -0.002984
         330       NaN       NaN       NaN       NaN       NaN  0.399996
         331       NaN       NaN       NaN       NaN       NaN       NaN
         332       NaN       NaN       NaN       NaN       NaN       NaN

                          co
                   332    co
unassign 0    0.105040  temp
         1    0.171778  temp
         2    0.061513  temp
         3    0.185715  temp
         4    0.013219  temp
...                ...   ...
pon      328  0.443304  temp
         329  0.119601  temp
         330  0.574670  temp
         331  0.004735  temp
         332       NaN  temp

[333 rows x 334 columns]

In [1]:
import reshape
import sys
import os
import matplotlib.pyplot as plt
thisDir = os.path.expanduser('~/Desktop/MSC_Alexis/analysis/')
dataDir = thisDir + 'data/mvpa_data/'
indices=reshape.getIndices()
taskFC=reshape.permROI(dataDir+'mem/MSC01_parcel_corrmat.mat')


ttaskFC=reshape.matFiles(dataDir+'mem/MSC01_parcel_corrmat.mat')

In [2]:
index=indices.index
condition=indices['level_1']==0
ROI=index[condition]
ROI_list=ROI.tolist()
tmpTask=taskFC[:,ROI_list]

In [9]:
tmpTask[0][0]

0.022630871015933782

In [10]:
taskFC[0][0]

0.022630871015933782

In [11]:
import numpy as np
mask = (ttaskFC == 0).all(1)
column_indices = np.where(mask)[0]
df = ttaskFC[~mask,:]

In [12]:
df.shape

(8, 55278)

In [11]:
indices.tail()

      level_0  level_1 variable_0  variable_1     value
55273     pon      327        pon         332  0.524179
55274     pon      328        pon         332  0.443304
55275     pon      329        pon         332  0.119601
55276     pon      330        pon         332  0.574670
55277     pon      331        pon         332  0.004735

In [10]:
ttaskFC.shape

(10, 55278)

In [3]:
import numpy as np
split=np.empty((333))

In [4]:
value=111
for idx, nullVal in enumerate(split):
    split[idx]=value

In [6]:
split

array([111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111., 111., 111., 111., 111., 111., 111., 111., 111.,
       111., 111., 111.])

In [1]:
import permuteROI
res=permuteROI.modelAll_byRow('MSC05')

res.tofile('/Users/Alexis/Desktop/MSC_Alexis/analysis/output/results/permutation/ALL/MSC05_Row.csv', sep = ',')

        level_0  level_1 variable_0  variable_1     value
0      unassign        0   unassign           1  0.022631
1      unassign        0   unassign           2  0.117758
2      unassign        1   unassign           2  0.298062
3      unassign        0   unassign           3  0.442273
4      unassign        1   unassign           3  0.118008
...         ...      ...        ...         ...       ...
55273       pon      327        pon         332  0.524179
55274       pon      328        pon         332  0.443304
55275       pon      329        pon         332  0.119601
55276       pon      330        pon         332  0.574670
55277       pon      331        pon         332  0.004735

[55278 rows x 5 columns]

In [40]:
import pandas as pd
tmp=pd.DataFrame(res,columns=['result'])
tmp.reset_index(inplace=True)
tmp.rename(columns={'index':'level_1'},inplace=True)
final=indices.merge(tmp,on='level_1')
final.drop(columns='value',inplace=True)
tmp2=final.pivot(values='result',index=['level_0','level_1'],columns=['variable_0','variable_1'])
tmp2.sort_values(by='level_1',inplace=True)

In [44]:
tmp2

variable_0       unassign                                               \
variable_1            1      2      3      4       5       6       7
level_0  level_1
unassign 0            0.0  0.000  0.000  0.000  0.0000  0.0000  0.0000
         1            NaN  0.025  0.025  0.025  0.0250  0.0250  0.0250
         2            NaN    NaN  0.025  0.025  0.0250  0.0250  0.0250
         3            NaN    NaN    NaN  0.000  0.0000  0.0000  0.0000
         4            NaN    NaN    NaN    NaN -0.0125 -0.0125 -0.0125
...                   ...    ...    ...    ...     ...     ...     ...
pon      327          NaN    NaN    NaN    NaN     NaN     NaN     NaN
         328          NaN    NaN    NaN    NaN     NaN     NaN     NaN
         329          NaN    NaN    NaN    NaN     NaN     NaN     NaN
         330          NaN    NaN    NaN    NaN     NaN     NaN     NaN
         331          NaN    NaN    NaN    NaN     NaN     NaN     NaN

variable_0                                ...     pmn                     pon  \
variable_1           8       9       10   ...     323     324     325     326
level_0  level_1                          ...
unassign 0        0.0000  0.0000  0.0000  ...  0.0000  0.0000  0.0000  0.0000
         1        0.0250  0.0250  0.0250  ...  0.0250  0.0250  0.0250  0.0250
         2        0.0250  0.0250  0.0250  ...  0.0250  0.0250  0.0250  0.0250
         3        0.0000  0.0000  0.0000  ...  0.0000  0.0000  0.0000  0.0000
         4       -0.0125 -0.0125 -0.0125  ... -0.0125 -0.0125 -0.0125 -0.0125
...                  ...     ...     ...  ...     ...     ...     ...     ...
pon      327         NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
         328         NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
         329         NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
         330         NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
         331         NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN

variable_0
variable_1           327     328     329     330     331     332
level_0  level_1
unassign 0        0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
         1        0.0250  0.0250  0.0250  0.0250  0.0250  0.0250
         2        0.0250  0.0250  0.0250  0.0250  0.0250  0.0250
         3        0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
         4       -0.0125 -0.0125 -0.0125 -0.0125 -0.0125 -0.0125
...                  ...     ...     ...     ...     ...     ...
pon      327         NaN  0.0000  0.0000  0.0000  0.0000  0.0000
         328         NaN     NaN  0.0000  0.0000  0.0000  0.0000
         329         NaN     NaN     NaN -0.0125 -0.0125 -0.0125
         330         NaN     NaN     NaN     NaN -0.0125 -0.0125
         331         NaN     NaN     NaN     NaN     NaN  0.0000

[332 rows x 332 columns]