In [1]:
import numpy as np
import os
import sys
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# Initialization of directory information:
thisDir = os.path.expanduser('~/Desktop/MSC_Alexis/analysis/')
dataDir = thisDir + 'data/mvpa_data/'
outDir = thisDir + 'output/mL/results/ridge/acc/'

In [2]:
t5=pd.read_csv(outDir+'SS/folds/half1.csv')
t6=pd.read_csv(outDir+'SS/folds/half2.csv')

In [3]:
t5.head()

   MSC01  train test  MSC02  MSC03  MSC04
0    0.8  mixed  mem   0.85    0.8   0.95
1    0.8  mixed  mem   0.85    0.8   0.95
2    0.8  mixed  mem   0.85    0.8   0.95
3    0.8  mixed  mem   0.85    0.8   0.95
4    0.8  mixed  mem   0.85    0.8   0.95

In [4]:
t6.head()

   MSC05  train test  MSC06  MSC07  MSC10
0    1.0  mixed  mem    1.0    0.9   1.00
1    1.0  mixed  mem    1.0    0.9   0.95
2    1.0  mixed  mem    1.0    0.9   1.00
3    1.0  mixed  mem    1.0    0.9   1.00
4    1.0  mixed  mem    1.0    0.9   0.95

In [ ]:
results=pd.merge(t5, t6,  on=['train','test'], how='left')

In [5]:
t5['MSC05']=t6['MSC05']

In [6]:
t5['MSC06']=t6['MSC06']
t5['MSC07']=t6['MSC07']
t5['MSC10']=t6['MSC10']

In [7]:
t5

       MSC01  train test  MSC02  MSC03  MSC04  MSC05  MSC06  MSC07  MSC10
0       0.80  mixed  mem   0.85   0.80   0.95    1.0   1.00    0.9   1.00
1       0.80  mixed  mem   0.85   0.80   0.95    1.0   1.00    0.9   0.95
2       0.80  mixed  mem   0.85   0.80   0.95    1.0   1.00    0.9   1.00
3       0.80  mixed  mem   0.85   0.80   0.95    1.0   1.00    0.9   1.00
4       0.80  mixed  mem   0.85   0.80   0.95    1.0   1.00    0.9   0.95
...      ...    ...  ...    ...    ...    ...    ...    ...    ...    ...
59995   0.65  motor  mem   0.50   0.55   0.60    0.8   0.75    0.5   0.65
59996   0.65  motor  mem   0.50   0.55   0.70    0.8   0.75    0.5   0.65
59997   0.65  motor  mem   0.50   0.55   0.50    0.8   0.75    0.5   0.65
59998   0.65  motor  mem   0.50   0.55   0.60    0.8   0.75    0.5   0.60
59999   0.65  motor  mem   0.50   0.55   0.80    0.8   0.75    0.5   0.60

[60000 rows x 10 columns]

In [9]:
t5.to_csv(outDir+'SS/folds/allFolds.csv', index=False)