In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
%matplotlib inline

In [5]:
df1=pd.read_csv('/Users/Alexis/Desktop/MSC_Alexis/analysis/output/results/MVPA_mat/regular_test/MSC01_acc.csv')
df2=pd.read_csv('/Users/Alexis/Desktop/MSC_Alexis/analysis/output/results/MVPA_mat/regular_test/MSC02_acc.csv')

In [6]:
df1

     Row  mem  mixed  motor
0    mem    0  0.995  0.325
1  mixed    1  0.000  0.760
2  motor    1  1.000  0.000

In [7]:
df2

     Row    mem  mixed  motor
0    mem  0.000  0.240      0
1  mixed  0.935  0.000      0
2  motor  0.925  0.085      0

In [8]:
frames=[df1, df2]

In [9]:
results=pd.concat(frames)

In [10]:
results

     Row    mem  mixed  motor
0    mem  0.000  0.995  0.325
1  mixed  1.000  0.000  0.760
2  motor  1.000  1.000  0.000
0    mem  0.000  0.240  0.000
1  mixed  0.935  0.000  0.000
2  motor  0.925  0.085  0.000

In [12]:
accTable=[]
subList=['MSC01','MSC02','MSC03','MSC04','MSC05','MSC06','MSC07','MSC08','MSC09','MSC10']
for i in subList:
    df=pd.read_csv('/Users/Alexis/Desktop/MSC_Alexis/analysis/output/results/MVPA_mat/regular_test/' +i +'_acc.csv')
    accTable.append(df)
results=pd.concat(accTable)

In [14]:
results.head()

     Row    mem  mixed  motor
0    mem  0.000  0.995  0.325
1  mixed  1.000  0.000  0.760
2  motor  1.000  1.000  0.000
0    mem  0.000  0.240  0.000
1  mixed  0.935  0.000  0.000